<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand cursor-pointer" [routerLink]="'/list'">Shopping</a>
    <div style="flex: 1">
      <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="'active'"
            [routerLink]="'/list'"
            >Ürünler</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="'active'"
            [routerLink]="'/categories'"
            >Kategoriler</a
          >
        </li>
      </ul>
    </div>
    <form class="d-flex gap-3" role="search">
      <app-basket></app-basket>
      <app-profile></app-profile>
    </form>
  </div>
</nav>
