<div class="container mt-2">
  <div class="border rounded p-2 d-flex flex-row gap-2 card-container">
    <div
      class="card d-flex flex-column justify-content-between"
      *ngFor="let p of favoriteProducts"
    >
      <img src="https://placehold.co/150x100/png" alt="" />
      <p class="product-name m-0 p-0 mt-1">{{ p.Name }}</p>
      <hr />
      <div class="price-container d-flex flex-row justify-content-between">
        <p class="product-price m-0 p-0">{{ p.UnitPrice }}₺</p>
        <p class="product-quantity-sold m-0 p-0">
          {{ p.QuantitySold }} adet satıldı.
        </p>
      </div>
    </div>
  </div>
</div>
