<app-favorite-list></app-favorite-list>
<div class="container mt-2">
  <div
    class="header d-flex flex-row justify-content-between align-items-center"
  >
    <button class="btn btn-success" [routerLink]="'/add-product'">
      Ürün Ekle
    </button>
    <p class="p-o m-0">
      <i>
        <b>{{ productCount }}</b> adet ürün listelenmektedir.
      </i>
    </p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ürün</th>
        <th scope="col">Kategori</th>
        <th scope="col">Fiyat</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.category?.name }}</td>
        <td>{{ p.price }} TL</td>
        <td>
          <i
            class="fas fa-cart-plus icon-size-2x cursor-pointer"
            (click)="addProductToBasket(p)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item cursor-pointer" [ngClass]="{ disabled: activePage == 1 }">
        <a class="page-link" (click)="onPrevious()">Previous</a>
      </li>
      <li
        class="page-item cursor-pointer"
        *ngFor="let no of pagesNumberArray"
        (click)="onPage(no)"
      >
        <a class="page-link" [ngClass]="{ active: activePage == no }">{{
          no
        }}</a>
      </li>
      <li
        class="page-item cursor-pointer"
        [ngClass]="{ disabled: activePage == pagesNumberArray.length }"
      >
        <a class="page-link" (click)="onForward()">Next</a>
      </li>
    </ul>
  </nav>
</div>
